
    <header class="masthead" id="about" padding-top="180px">
    <div class="container h-100">
      <div class="row h-100 align-items-left">
        <div class="col-12 text-left">
          <h3 style="font-size:4vw">Gabriel Antonio Valdéz</h3>
          <!-- h1 class="fw-light">Gabriel Antonio Valdez</h1 -->
          <!-- p class="lead" --> 
          <p class="lead w-50 p-1 font-weight-bold">"I love the mix of Business and Technical stuff. I couldn’t be a developer or a Business guy. For me, the Sales Engineer role has the perfect blend between both connected worlds. 
I like whiteboarding solutions, Demoing, and PoCing, while helping and selling."
          </p>
        </div>
      </div>
    </div>
  </header>