
    <header class="masthead" id="about" padding-top="180px">
    <div class="container h-100">
      <div class="row h-100 align-items-left">
        <div class="col-12 text-left">
          <!-- h1 class="fw-light">Gabriel Antonio Valdez</h1 -->
          <!-- p class="lead" --> <p class="lead w-50 p-3 font-weight-bold">"Love the mix of Business with Technical stuff. Couldn’t be only a developer neither 
            a Business guy, and the <b>Sales Engineer</b> role is totally about that. Love to whiteboarding solutions, Demoing, PoCing, 
            while helping and selling."</p>
        </div>
      </div>
    </div>
  </header>