
    <header class="masthead" id="about" padding-top="180px">
    <div class="container h-100">
      <div class="row h-100 align-items-left">
        <div class="col-12 text-left">
          <!-- h1 class="fw-light">Gabriel Antonio Valdez</h1 -->
          <!-- p class="lead" --> <p class="lead w-50 p-3 font-weight-bold">"Love the mix of Business with Technical stuff. Couldn’t be only a developer neither 
            a Business guy, and the <b>Sales Engineer</b> role is totally about that. Love to whiteboarding solutions, Demoing, PoCing, 
            while helping and selling.<br>
            <br>
            Once I got my degree of 'Informatic Engineer' I used to be a Developer. The business side becomes interesting, while developed asked things like
            'WHY do you need it in this way?' and enjoyed learning about the business processes. Then started to look for a challenge in that sense, and 
            started as a Business Analyst at Zurich as part of the Young Professional program; I learned a lot!.
            At that moment, Business got me crazy, so decided to start my Master in  Strategic Direction of Information or 'CIO' at UADE.
            Become a Team Lead, then a Project Manager. But, in the middle realized that still loved to be a Technical guy: as a Tech Lead, PM or Business Analyst
            loved to do questions about the Architecture, Designs, Business processes, etc.
            I feel like Pre-Sales Engineer is a good position to mix Dev and Business skills."</p>
        </div>
      </div>
    </div>
  </header>