

  <div class="content" role="main" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="350">
    <app-nav-bar></app-nav-bar>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-degrees></app-degrees>
    <app-skills></app-skills>
    <!-- app-events></app-events -->
    <app-contacts></app-contacts>
    <!-- el contenido del site-->
    <!-- id="profExp"-->

    <!-- id="eventSpeak"-->
    <!-- id="lang"-->
    <!-- id="contact"-->

  </div >
  

<router-outlet></router-outlet>
