<section class="container-fluid mt-3" id="eventSpeak">
    <h1 id="profExp"><b>Events</b></h1>
    <p>Like events, meet new prospects in person and make awesome presentations.</p>
</section>
    <!-- Carousel -->
<div id="events" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#events" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#events" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#events" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="item carousel-item active">
      <img src="https://img.freepik.com/foto-gratis/icono-simbolo-lanzamiento-cohete_53876-15090.jpg?w=2000" alt="Los Angeles" class="d-block mx-auto" style="width:80%; max-height:600px !important;">
      <!-- img src="https://img.freepik.com/foto-gratis/icono-simbolo-lanzamiento-cohete_53876-15090.jpg?w=2000" alt="Los Angeles" class="d-block mx-auto" -->
    </div>
    <div class="item carousel-item">
      <img src="../../../assets/imgs/IMG_6836.jpg" alt="Chicago" class="d-block mx-auto" style="width:80%; max-height:600px !important;">
      <div class="carousel-caption">
        <h3>Mind The Sec Brasil</h3>
        <p>Moderator and presentator</p>
      </div>
      <!-- img src="../../../assets/imgs/IMG_6836.jpg" alt="Chicago" class="d-block mx-auto" -->
    </div>
    <div class="item carousel-item">
      <img src="../../../assets/imgs/IMG_6890.jpg" alt="New York" class="d-block mx-auto" style="width:50%; max-height:60% !important;">
      <!-- img src="../../../assets/imgs/IMG_6890.jpg" alt="New York" class="d-block mx-auto" -->
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#events" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#events" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


