

<section class="container-fluid mt-3" id="degrees">
  <h2><b>Education degrees</b></h2>
</section>
<!-- CARDS! -->
<div class="row">
  <div class="scrollcards">
    <div class="card" style="width: 25rem;">
        <h4><span class="badge bg-success">Completed</span></h4>
        <h2 class="card-subtitle mb-2 text-muted">Master in Strategic Direction of Information (CIO)</h2>
          <!-- p>First SE for the whole Latam Region, supporting and enhancing the whole Pre-Sales process. Including Partners tech enablements, Events, and content generation.</p -->
          
        <img src="../../../assets/imgs/UADE_BS.jpeg" class="card-img-top" alt="Auth0 professional experience">
        <!-- p>From first Commercial calls to the most complex PoCs, tayloring the Platform value message for each prospect and audience.</p>
        <div class="card-body">
          
          <h5 class="card-title">Achievements</h5>
          <ul class="list-group list-group-flush">
            
            <li class="list-group-item">
              <h6 class="card-subtitle mb-2 text-muted">Platform Specialist, from zero to hero.</h6>
            </li> 
            <li class="list-group-item">
              <h6 class="card-subtitle mb-2 text-muted">Meet the Brazilian Market.</h6>
            </li>
            <li class="list-group-item">
              <h6 class="card-subtitle mb-2 text-muted">Present at events and moderate conversations (Spanish, English and Protuguese).</h6>
            </li>
          </ul>
        </div -->
    </div>
    <div class="card" style="width: 25rem;">
        <h4><span class="badge bg-success">Completed</span></h4>
        <h2 class="card-subtitle mb-2 text-muted">Informatic Engineer</h2>
          <!-- p>First SE for the whole Latam Region, supporting and enhancing the whole Pre-Sales process. Including Partners tech enablements, Events, and content generation.</p -->
          
        <img src="../../../assets/imgs/UADE_logo-300x214.png" class="card-img-top" alt="Auth0 professional experience">
      </div>

  </div>
  

</div>

