

<section class="container-fluid mt-3" id="profExp">
    <h1 id="profExp"><b>Professional Experience</b></h1>
    <p>All of my professional experience can be found <i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/valdezgabriel/">here</a>. This is only a way to show my skills creating a carousel with cards.</p>
</section>

<!-- CARDS! -->
<div class="row">
  <div class="scrollcards">
    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/auth0logo.png" class="card-img-top" alt="Auth0 professional experience">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer <span class="badge bg-success">+3 years</span></h4>
        <p>First SE for the whole Latam Region, supporting and enhancing the whole Pre-Sales process. Including Partners tech enablements, Events, and content generation.
        </p>
        <h5 class="card-title">Achievements</h5>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Become a platform expert.</h6>
          </li> 
          <li class="list-group-item">  
            <h6 class="card-subtitle mb-2 text-muted">Closed Enterprise accounts (+1M USD).</h6>
          </li>
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Exceeded my quota every year.</h6>
          </li>
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Supported Post Sales accounts due to the language.</h6>
          </li>

        </ul>
      </div>
    </div>

    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/logo_modernizacion.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">Project Manager <span class="badge bg-secondary">2 years</span></h4>
        <p>As the Project Managemer was tracking and negotiating multiple implementation projects dates and efforts, to ensure the project will be well executed. Reported a weekly status to the internal Directors level.
        </p>
        <h5 class="card-title">Achievements</h5>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Be a solution enabler, tracking critical problems with the owners.</h6>
          </li> 
          <li class="list-group-item">  
            <h6 class="card-subtitle mb-2 text-muted">Onsite support for each public branch.</h6>
          </li>
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Create a unified Sheet to see the projects status.</h6>
          </li>

        </ul>
      </div>
    </div>
    

    

    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/valkimia-logo-retina.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">Project Manager <span class="badge bg-secondary">2 years</span></h4>
        
        <p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p>
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          < li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
        </ul -->
      </div>
    
    
  </div>

    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/globant-logo.jpeg" class="card-img-top embed-responsive-item" alt="...">
      <div class="card-body">

        <h4 class="card-subtitle mb-2 text-muted">Business Analyst <span class="badge bg-secondary">7 months</span></h4>
        <p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p>
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>
    



    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/dinmax_logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">Project Leader <span class="badge bg-secondary">1 year</span></h4>
        <p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p>
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>
    
 


    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/huenei_logo.jpeg" class="card-img-top" alt="...">
      <div class="card-body">

        <h4 class="card-subtitle mb-2 text-muted">Business Analyst <span class="badge bg-secondary">5 months</span></h4>
        <p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p>
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>



    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/segurcoop_loog.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">Business Analyst <span class="badge bg-secondary">+1 year</span></h4>
        <p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p>
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>
    



    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/zurich_logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">Business Analyst <span class="badge bg-secondary">+2 years</span></h4>
        <p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p>
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>

    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title">HR Smart</h3>
        <h4 class="card-subtitle mb-2 text-muted">Web Developer <span class="badge bg-secondary">10 months</span></h4>
        <p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p>
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>

    <div class="card" style="width: 25rem;">
      <img src="../../../assets/imgs/jobs_logos/kuehne_logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">Web Developer<span class="badge bg-secondary"> ~2 years</span></h4>
        <p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p>
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>
    
  </div>
</div>

