

<section class="container-fluid mt-3" id="profExp">
    <h1 id="profExp"><b>Experience</b></h1>
    <p>Complete professional experience can be found <i class="fab fa-linkedin"></i><a target="_blank" href="https://www.linkedin.com/in/valdezgabriel/">Linkedin</a></p>
    <p>Once <b>I got my degree of <u>'Informatic Engineer'</u></b> I used to be a <code>Developer</code>. The business side becomes interesting, while developed asked things like
      'WHY do you need it in this way?' and enjoyed learning about the business processes. Then started to look for a challenge in that sense, and 
      started as a <code>Business Analyst</code> at Zurich as part of the Young Professional program; I learned a lot!.
      At that moment, Business got me crazy, so decided to start my <b><u>Master in  Strategic Direction of Information or 'CIO' at UADE</u></b>.
      Become a <code>Team Lead</code>, then <code>Project Manager</code>. But, in the middle realized that still loved to be a Technical guy: as a Tech Lead, PM or Business Analyst
      loved to do questions about the Architecture, Designs, etc.
      I feel like <b><code>Pre-Sales Engineer</code></b> is a good position to mix Dev and Business skills.</p>
</section>

<!-- h2><b>Profesional Experience</b></h2 -->

<!-- CARDS! -->
<div class="row">
  <div class="scrollcards">
    <div class="card">
      <h4><span class="badge bg-success">+5 years</span><span class="badge bg-success">Current</span></h4>
      <h2 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h2>
        <!-- p>First SE for the whole Latam Region, supporting and enhancing the whole Pre-Sales process. Including Partners tech enablements, Events, and content generation.</p -->
        
      <img src="../../../assets/imgs/jobs_logos/auth0logo.png" class="card-img-top" alt="Auth0 professional experience">
      <!-- p>From first Commercial calls to the most complex PoCs, tayloring the Platform value message for each prospect and audience.</p>
      <div class="card-body">
        
        <h5 class="card-title">Achievements</h5>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Platform Specialist, from zero to hero.</h6>
          </li> 
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Meet the Brazilian Market.</h6>
          </li>
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Present at events and moderate conversations (Spanish, English and Protuguese).</h6>
          </li>
        </ul>
      </div -->
    </div>

    <div class="card" >
      <span class="badge bg-secondary">2 years</span><h3 class="card-subtitle mb-2 text-muted">Project Manager </h3>
      <img src="../../../assets/imgs/jobs_logos/logo_modernizacion.png" class="card-img-top" alt="...">
      <!-- div class="card-body">
        <p>Defining National Gobernment implementation scopes, owners, efforts and goals with public entities.
        <h5 class="card-title">Achievements</h5>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Meet the public sector</h6>
          </li> 
          <li class="list-group-item">
            <h6 class="card-subtitle mb-2 text-muted">Understand internals and externals KPI's.</h6>
          </li>

        </ul>
      </div -->
    </div>
    

    

    <div class="card">
      <span class="badge bg-secondary">2 years</span><h3 class="card-subtitle mb-2 text-muted">Project Manager</h3>
      <img src="../../../assets/imgs/jobs_logos/valkimia-logo-retina.png" class="card-img-top" alt="...">
      <div class="card-body">
        
        
        <!--p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p-->
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          < li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
        </ul -->
      </div>
    
    
  </div>

    <div class="card">
      <span class="badge bg-secondary">7 months</span><h3 class="card-subtitle mb-2 text-muted">Business Analyst</h3>
      <img src="../../../assets/imgs/jobs_logos/globant-logo.jpeg" class="card-img-top embed-responsive-item" alt="...">
      <div class="card-body">

        
        <!--p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p -->
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>
    



    <div class="card">
      <span class="badge bg-secondary">1 year</span><h3 class="card-subtitle mb-2 text-muted">Project Leader</h3>
      <img src="../../../assets/imgs/jobs_logos/dinmax_logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p -->
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>
    
 


    <div class="card">
      <span class="badge bg-secondary">5 months</span><h3 class="card-subtitle mb-2 text-muted">Business Analyst</h3>
      <img src="../../../assets/imgs/jobs_logos/huenei_logo.jpeg" class="card-img-top" alt="...">
      <div class="card-body">

        
        <!-- p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p -->
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>



    <div class="card">
      <span class="badge bg-secondary">+1 year</span><h3 class="card-subtitle mb-2 text-muted">Business Analyst</h3>
      <img src="../../../assets/imgs/jobs_logos/segurcoop_loog.png" class="card-img-top" alt="...">
      <div class="card-body">
        
        <!-- p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p -->
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>
    



    <div class="card">
      <span class="badge bg-secondary">+2 years</span><h3 class="card-subtitle mb-2 text-muted">Business Analyst</h3>
      <img src="../../../assets/imgs/jobs_logos/zurich_logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        
        <!-- p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p-->
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <span class="badge bg-secondary">10 months</span><h3 class="card-subtitle mb-2 text-muted">Web Developer</h3>
        <h3 class="card-title">HR Smart</h3>
        <img src="https://www.recruiter.com/recruiting/wp-content/uploads/2011/11/HRSmart-Talent-Management.jpg" class="card-img-top" alt="...">
        
        <!-- p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p -->
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>

    <div class="card">
      <span class="badge bg-secondary"> ~2 years</span><h3 class="card-subtitle mb-2 text-muted">Web Developer</h3>
      <img src="../../../assets/imgs/jobs_logos/kuehne_logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        
        <!-- p>Lorem ipsum dolor sit amet. Et soluta porro et mollitia eveniet et galisum perspiciatis! Est necessitatibus debitis eos mollitia beatae est quaerat doloremque vel enim ipsa. Nam enim fugiat est odit molestiae aut alias internos aut voluptate quasi. Eos neque possimus est tempora quae aut facere quisquam qui temporibus repudiandae est maxime quod et dicta amet.
        </p -->
        <!-- ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Challenges</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Results</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
          <!-- li class="list-group-item">
            <h5 class="card-title">Skills</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pre-Sales Engineer</h6>
          </li -->
        <!-- /ul -->
      </div>
    </div>
    
  </div>
</div>

